* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

:root{
    --color1: rgb(226, 122, 37);
    --color2: rgb(175, 174, 174);
}

body{
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
    background-color: black; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    margin: 0 auto;
    padding: 2em;
    z-index: 1000; 
}

ul.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    top: 50px;
    min-width:200px;
    height: calc(100vh - 50px);
    list-style: none;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    border-radius: 0 10px 10px 0;
    padding-top: 20px;
    transform: translate(0%);
    transition: 0.5s;   
}

ul.menu li {
    line-height: 65px;
    margin: 0 3rem;
    text-align: center;
}

ul.menu a {
    position: relative;
    text-decoration: none;
    color: var(--color1);
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 2em;
    overflow: hidden;
    transition: 0.3s;
    text-shadow: 2px 2px 8px black;
}

ul.menu a:hover{
    color: var(--color2);
    transition: 0.3s;
}

/* BURGER STYLING */
.burger {
    display: block;
    transition: .2s;
    width: 3em;
    height: 20px;
    position: relative;
}

.burger:hover {
    cursor: pointer;
}

.burger .line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--color1);
    border-radius: 20px;
    transition: top 0.2s .2s ease, width .2s .2s ease, background-color .2s .3s ease;
}

.burger .line:first-child {
    top: 0;
}

.burger .line.line:nth-child(2) {
    top: calc(50% - 2px);
}

.burger .line.line:nth-child(3) {
    top: calc(100% - 4px);
}

.burger.active .line{
    background-color: var(--color2);
    box-shadow: 2px 2px 5px black;
}

.burger.active .line:first-child {
    top: calc(100% - 4px);
    width: 30%;
} 

.burger.active .line.line:nth-child(2) {
    width: 50%;
}

.burger.active .line.line:nth-child(3) {
    top: 0;
    width: 80%;
}

nav .opacity{
    left:-100%;
    width:100%;
    height: 200vh;
    opacity: 0.4;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
}

nav .opacity.active{
    left:0%;
}

ul.active {
    left:-100%;
    transition: 0.6s;   
}

@media (max-width: 900px) and (orientation: landscape){
    ul.menu {
        padding-top: 5px;
    }
}

@media only screen and (max-width: 500px) {
    ul.menu {
        padding-top: 50px;
        top: 0;
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.9)), url("../image/bg_image.jpg");
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: 30px auto;
    padding: 3rem 3rem;
    text-align: center;
}

h1{
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 7px;
    margin-bottom: 2rem;
    padding-top: 5rem;
}

h2{
    color: var(--color2);
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 4px;
    margin-bottom: 2rem;
}

.image{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.me{
    width: 230px;
    clip-path: circle();
}

.container p{
    font-size: 1.5rem;
    color: var(--color2);
    line-height: 3.5rem;
    margin-bottom: 3rem;
}

.container-button{
    text-align: center;
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn {
    position: relative;
    color: whitesmoke;
    width: 250px;
    height: 50px;
    line-height: 50px;
    transition: all 0.3s;
  }
  
.btn::before, .btn::after {
    content: '';
    position: absolute;
    transition: all 0.3s;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 3px;
}
  
.btn-one::before {
    left: 4px;
    z-index: 1;
    opacity: 0;
    background: rgba(255, 255, 255, 0.1);
    transform: scale(0.1, 1);
}
  
.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}
  
.btn-one::after {
    transition: all 0.3s;
    border: 1px solid var(--color1);
}
  
.btn-one:hover::after {
    transform: scale(1, .1);
    opacity: 0;
}

.button {
    text-decoration: none;
}

@media only screen and (max-width: 1400px){
    .container{
        padding: 0 3rem;
    }
    .me{
        width:200px;
    }
    .image{
        margin-top: 4rem;
        margin-bottom: 3rem;
    }
}

/* PROJECTS SECTION */
#projects{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects_wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
}

#projects > h2{
    padding: 5rem 0 1rem;
    font-size: 26px ;
}

.project{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    margin: 3rem;
    margin-bottom: 50px;
    width: 30%;
    max-width: 300px;
    min-width: 250px;
    padding: 2.5rem;
    line-height: 2rem;
    border-radius: 3px;
    color: var(--color2);
}

.project_image{
    margin: 0 auto;
    height: 140px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
}

.first_project {
    background-image: url(/image/projekt2_img.PNG);
}

.second_project {
    background-image: url(/image/projekt1_img.PNG);
    background-position: top left;
}

.third_project{
    background-image: url(/image/projekt3_img.PNG);
}

.project h3{
    color: var(--color1);
    font-size: 22px;
    font-weight: 400;
    margin: 3rem 0 2rem 0;
}

.project > p{
    min-height: 200px;
}

.project>a{
    color:white;
    transition: 0.3s;
}

.project a:hover{
    color: var(--color1);
}

@media (max-width: 1100px){
    .project{
    margin: 5px;
    margin-bottom: 50px;
    }
}

@media (max-width: 800px){
    .project{
    width: 300px;
    }
}

/* TOOLS SECTION */

#tools{
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    backdrop-filter: blur(5px);
    padding-top: 5rem;
}

#tools h2{
    font-size: 26px;
}

section.tools{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 4rem auto;
    padding: 0 2rem 0 2rem;
    max-width: 1100px;
    height: 250px;
}

.tool{
    position: relative;
    width: 9%;
    transition: .3s;
}

.tool:hover{
    transition: .3s;
}

.tool img{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
    transition: .4s;
}

.tool:hover img{
    width: 110%;
    transition: .4s;
}

@media (max-width: 800px){
    section.tools{
        height: 120px;
    }
}

@media (max-width: 500px){
    #tools h2{
        padding: 3rem 0 0 0;
    }

    section.tools{
        height: 100px;
    }
}

/* Contact Mail */
.contactMail{
    width: 100%;
    text-align: right;
    max-width: 1100px;
    padding: 8rem 2rem;
}

.contactMail p:nth-of-type(1){
    text-transform: uppercase;
    color: var(--color2);
    /* font-size: clamp(1rem, 2rem , 3rem); */
    font-size: 2.5em;
    font-weight: 200;
}

.contactMail p:nth-of-type(2){
    text-transform: uppercase;
    color: var(--color1);
    /* font-size: clamp(1rem, 2rem , 4rem); */
    font-size: 3.5em;
    margin-top: 10px;
}


@media (max-width: 800px){
    .contactMail p:nth-of-type(1){
        font-size: 1.5em;
    }
    .contactMail p:nth-of-type(2){
        font-size: 2.3em;
    }
}

@media (max-width: 500px){
    .contactMail p:nth-of-type(1){
        font-size: 1.3em;
    }
    .contactMail p:nth-of-type(2){
        font-size: 1.5em;
    }
}

/* CARDs - contact */
.contact-wraper{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    text-align: center;
}
.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    min-height: 200px;
}

.cards{
    position: relative;
    width: 260px;
    height: 170px;   
}

.card{ 
    width: 100%;
    height: 100%;
}

.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 0.6s linear;
}

.front{
    background-color: var(--color1);
    transform: perspective(600px) rotateY(0deg);
}

.back{
    /* background-color: rgba(226, 122, 37, 0.7); */
    background-color: rgba(255, 255, 255, 0.4);
    transform: perspective(600px) rotateY(180deg);
    border: 2px solid var(--color1);
}

.card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}

.front h1{
    line-height: 170px;
    padding: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.3rem;
    letter-spacing: 0;
}

.icons {
    height: 45%;
    padding: 25px 30px; 
}

.icons::before{
    content: "";
    position: absolute;
    top: 45%;
    left: 10%;
    height: 2px;
    width: 80%;
    border-radius: 50%;
    background-color: var(--color1);
}
.icon{
    cursor: pointer;
    position: relative;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid var(--color1);
    transition: 0.5s;
}


.icon.active:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.flex{
    display: flex;
}

.icon img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
}

.text{
    text-transform: uppercase;
    margin-top: 15px;
}



@media (max-width: 800px){
    .cards{
        width: 200px;
        height: 200px;   
    }
}
@media (max-width: 650px){
    .contact-wraper{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .contact{
        flex-direction: column;  
    }
    .cards{
        margin-top: 20px;
        width: 60%;
        min-width: 250px;
    }
}

/* Footer */
footer{
    background: rgba(0,0,0,1);
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    color: #8e8b8b;
}