* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
    background-color: black; 
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../image/bg_image.jpg");
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 3rem;
    text-align: center;
    height: 700px;
}

h1{
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 7px;
    margin-bottom: 2rem;
    padding-top: 5rem;
}

h2{
    color: rgb(175, 174, 174);
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 4px;
    margin-bottom: 2rem;
}

.image{
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.me{
    width: 200px;
    clip-path: circle();
}

.container p{
    font-size: 1.5rem;
    color: rgb(175, 174, 174);
    line-height: 3.5rem;
    margin-bottom: 3rem;
}

button{
    outline: 0;
    box-shadow: none;
    border-style: none;
    margin: auto;
    border-radius: 10px;
    max-width: 400px;
    cursor: pointer;
    background-color: orangered;
    transition: .3s;
    margin-top: 1rem;
}

button a{
    text-decoration: none;
    padding: 0 30px;
    line-height: 4rem;
    font-size: 2rem;
    letter-spacing: 1px;
    color: white;
    transition: .3s;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.76);
}

button:hover a{
    color:orangered;
}

.about{
    text-align: center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about_wrapper{
    display: flex;
    width: auto;
}

.about > h2{
    padding: 5rem 0 1rem;
}

.hobby{
    background: rgba(0,0,0,0.4);
    margin: 0.7rem;
    margin-bottom: 50px;
    width: 300px;
    padding: 2rem;
    line-height: 2rem;
    color: rgb(175, 174, 174);
}

.hobby h3{
    color: orangered;
    font-size: 26px;
    margin: 3rem 0 2rem 0;
}

.hobby img{
    width: auto;
    height: 70px;
    clip-path: circle();
}

.hobby > p{
    min-height: 200px;
}

.hobby>a{
    color:white;
    transition: 0.3s;
}

.hobby a:hover{
    color: orangered;
}

/*  Hobby page */

.wrapper_about{
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../image/bg_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    max-width: 1400px;
    height: calc(100vh - 30px);
    overflow: hidden;
}

.wrapper_about div{
    min-width: 50%;
}

.wrapper_about:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section_left h1{
    padding-top: 0;
}

.section_left a{
    color:white;
    text-decoration: none;
    font-size: 2rem;
    transition: 0.3s;
}

.section_left a:hover{
    color: orangered;
}

.section_right .resize{
    border-radius: 10px;
    max-width: 300px;
    height: 150px;
    background-size: 102%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.section_right p{
    padding-left: 2rem;
}

.hobbys .resize:first-of-type{
    background-image: url("../image/hobby1.jpg");
    margin: 0.5rem 0 1.5rem 0;
}

.hobbys .resize:nth-of-type(2){
    background-image: url("../image/hobby2.jpg");
    margin: 0.5rem 0 1.5rem 0;
}

.hobbys .resize:nth-of-type(3){
    background-image: url("../image/hobby3.jpg");
    margin-top:0.5rem;
}

.resize:hover{
    background-size: 110%;
    transition: 0.3s;
}

/* Trips Section */

.trips{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.trip .section_right div{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin-top:.5rem;
}

.trips div .resize:first-of-type{
    background-image: url("../image/trip1.jpg");
}

.trips div:nth-of-type(2) .resize{
    background-image: url("../image/trip2.jpg");
}

.trips div:nth-of-type(3) .resize{
    background-image: url("../image/trip3.jpg");
}

.trips div:nth-of-type(4) .resize{
    background-image: url("../image/trip4.jpg");
}

.trips div:nth-of-type(5) .resize{
    background-image: url("../image/trip5.jpg");
}

.trips div:nth-of-type(6) .resize{
    background-image: url("../image/trip6.jpg");
}

/* Footer */

footer{
    background: rgba(0,0,0,1);
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 1rem 0;
    color: #8e8b8b;
}